version: "3"
services:
    worker:
        build:
            context: .
        volumes:
            - worker:/data
        stop_signal: SIGINT
        restart: unless-stopped
        ports:
            - "${EXTERNAL_PORT:-8080}:8080"

volumes:
    worker:
