hikka-tl==1.24.14
hikka-pyro==2.0.66
aiofile==3.8.1
pythondialog==3.5.3
gitpython==3.1.27
meval==2.5
aiohttp_jinja2==1.5
aiohttp==3.8.3
Jinja2==3.0.3
requests==2.27.1
aiogram==2.19
grapheme==0.6.0
emoji==2.1.0
werkzeug==2.2.2
psutil==5.9.4

# Python 3.8+
