<!DOCTYPE html>

{% set title_s %}{% block title %}ERROR{% endblock %}{% endset %}

<!--
    Friendly Telegram (telegram userbot)
    Copyright (C) 2018-2019 The Authors

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->



<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <title>Hikka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" href="https://github.com/hikariatama/Hikka/raw/master/assets/hikka_pfp.png">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="main_content">
      {% block content %}
        <p><b>An internal error occured.</b></p>
      {% endblock %}
    </div>

    <div id="blackhole"></div>

    {% block after %}

    {% endblock %}
  </body>
</html>
