<!--
		█ █ ▀ █▄▀ ▄▀█ █▀█ ▀		▄▀█ ▀█▀ ▄▀█ █▀▄▀█ ▄▀█
		█▀█ █ █ █ █▀█ █▀▄ █ ▄	█▀█	█	█▀█ █ ▀ █ █▀█

		Copyright 2022 t.me/hikariatama
		Licensed under the GNU GPLv3
-->

{% extends "base.jinja2" %}

{% block head %}
	<script src="https://cdn.jsdelivr.net/npm/scrypt-async@2.0.1/scrypt-async.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<link href="https://cdn.jsdelivr.net/npm/css.gg/icons/all.css" rel="stylesheet">

	<link rel="stylesheet" href="{{ static("base.css") }}">

	<style>
		.button i {
			margin-left: .5em;
		}

		.button {
			margin: 10px 5px;
		}

		.mountains {
			display: none;
		}
	</style>
{% endblock %}

{% block content %}
{% endblock %}

{% block after %}
<canvas class="mountains"></canvas>
<div class="wrapper">
	<div class="blur">
		<div class="title">Hikka</div>
		<div class="description">Fresh and cute<br><span style="color:#28a0dc">Telegram</span> userbot.</div>
		<div class="center">
			<div class="button" id="get_started">
				{% if hosting %}
					<div class="horiz_center">
						<div class="vert_center">
							Get started
						</div>

						<div class="vert_center">
							<i class="gg-arrow-right-r"></i>
						</div>
					</div>
				{% else %}
					<div class="horiz_center">
						<div class="vert_center">
							Add phone
						</div>

						<div class="vert_center">
							<i class="gg-add-r"></i>
						</div>
					</div>
				{% endif %}
			</div>
			{% if skip_creds %}
				<div class="button" id="enter_api">
					<div class="horiz_center">
						<div class="vert_center">
							Change API Creds
						</div>

						<div class="vert_center">
							<i class="gg-brackets"></i>
						</div>
					</div>
				</div>
			{% endif %}
			<span id="block_api_id">
				<label class="api_id" for="api_id">Telegram API ID: </label>
				<input class="api_id" id="api_id" placeholder="••••" style="width: 4em;">
			</span>
			<span id="block_api_hash">
				<label class="api_hash" for="api_hash">Telegram API hash: </label>
				<input class="api_hash" id="api_hash" placeholder="••••••••••••••••••••••••••••••••" style="width: 24em;">
			</span>
			<span id="block_phone">
				<label class="phone" for="phone">Phone: </label>
				<input class="phone" id="phone" placeholder="••••••••••••" style="width: 12em;">
			</span>
			<span id="block_2fa">
				<label class="_2fa" for="_2fa">2FA Password: </label>
				<input class="_2fa" id="_2fa" placeholder="password" style="width: 12em;" type="password">
			</span>
		</div>

		<div class="horiz_center">
			<div id="continue_btn" class="button">
				<div class="horiz_center">
					<div class="vert_center">
						Continue
					</div>

					<div class="vert_center">
						<i class="gg-arrow-right-r"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="root">

	
	</div>
</div>
<script>var skip_creds = "{{ skip_creds }}" == "True";</script>
<script src="{{ static("initial_root.js") }}"></script>
<script src="{{ static("mountains.js") }}"></script>
{% endblock %}

