<!--
    █ █ ▀ █▄▀ ▄▀█ █▀█ ▀    ▄▀█ ▀█▀ ▄▀█ █▀▄▀█ ▄▀█
    █▀█ █ █ █ █▀█ █▀▄ █ ▄  █▀█  █  █▀█ █ ▀ █ █▀█

    Copyright 2022 t.me/hikariatama
    Licensed under the GNU GPLv3
-->

{% extends "base.jinja2" %}

{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/scrypt-async@2.0.1/scrypt-async.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link rel="stylesheet" href="{{ static("base.css") }}">

{% endblock %}

{% block content %}
{% endblock %}

{% block after %}
<canvas class="mountains"></canvas>
<div class="wrapper">
  <div class="blur">
    <div class="title">Hikka</div>
    <div class="description">Fresh and cute<br><span style="color:#28a0dc">Telegram</span> userbot.</div>
  </div>
  <div class="darken"></div>
  <div id="root">

  
  </div>
</div>
<script src="{{ static("mountains.js") }}"></script>
{% endblock %}

