@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #16181d;
    font-family: Hubballi;
}

#sky {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#shootingstars {
    margin: 0;
    padding: 0;
    width: 150vh;
    height: 100vw;
    position: fixed;
    overflow: hidden;
    transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%)) rotate(120deg);
}

.wish {
    height: 2px;
    top: 300px;
    width: 100px;
    margin: 0;
    opacity: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px white);
    overflow: hidden;
}

.title {
    font-size: 50px;
    font-family: Hubballi;
    text-align: center;
    color: #fff;
    width: 100%;
    z-index: 2;
    position: relative;
    height: 50px;
    line-height: 50px;
}

.description {
    font-size: 24px;
    color: #eee;
    text-align: center;
    width: 100%;
    z-index: 2;
    position: relative;
    padding-top: 20px;
    line-height: 1.3;
    font-family: Hubballi;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#root {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.darken {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .1);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.main_content {
    display: none;
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 2;
    margin-top: 20px;
}

.blur {
    padding: 4rem 6rem;
    border-radius: 0.375rem;
    background-color: rgba(22, 24, 29, .5);
    border: 1px solid rgba(42, 46, 55, 1);
    backdrop-filter: blur(6px);
    position: relative;
    z-index: 99;
}

.bg {
    background: url(https://github.com/hikariatama/assets/raw/master/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80vw;
    height: 60vh;
    position: absolute;
    z-index: 1;
    background-position: center;
    display: none;
    animation: floating 5s infinite ease-in-out;
    filter: hue-rotate(286deg);

    transition: filter .25s cubic-bezier(0, .77, 0, .68);
}

.mountains {
    transition: filter .25s cubic-bezier(0, .77, 0, .68);
}

@media screen and (max-width: 736px) {
    .blur {
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bg {
        width: 100vw;
        top: 0;
        height: 50vh;
    }
}

@keyframes floating {
    from {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    to {
        transform: translateY(-10px);
    }
}


.button {
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    color: #eee;
    margin: 5px 0;
    background: transparent;
    border: 2px solid #aaa;
    cursor: pointer;
    transition: box-shadow .2s ease;
    user-select: none;
}

.button:hover {
    box-shadow: inset 5px 5px 3px rgba(255, 255, 255, .1), inset -5px -5px 3px rgba(255, 255, 255, .1);
}

input {
    outline: none;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    background: transparent;
    border: 2px solid #aaa;
    transition: box-shadow .2s ease;
}

input:focus {
    box-shadow: inset 5px 5px 3px rgba(255, 255, 255, .1), inset -5px -5px 3px rgba(255, 255, 255, .1);
}

label {
    margin: 0 10px;
    color: #eee;
    user-select: none;
}

#continue_btn,
#block_api_id,
#block_api_hash,
#block_phone,
#block_2fa {
    display: none;
}

.red_state {
    filter: hue-rotate(66deg);
}

.horiz_center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.vert_center {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#blackhole {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
} 
